@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500;800&display=swap");
body {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.5s all ease; }
  body a {
    text-decoration: none;
    color: inherit; }
  body h1 {
    font-weight: 800;
    font-size: 3.75em;
    margin: 0; }
  body h2 {
    font-weight: 800;
    font-size: 3.125em;
    margin: 0; }
  body h3 {
    font-weight: 500;
    font-size: 3.125em;
    margin: 0; }
  body h4 {
    font-weight: 500;
    font-size: 2.5em;
    margin: 0; }
  body h5 {
    font-weight: 500;
    font-size: 2.25em;
    margin: 0; }
  body h6 {
    font-weight: 500;
    font-size: 1.875em;
    margin: 0; }
  body p {
    font-weight: 500;
    font-size: 1.25em;
    margin: 0; }

.index {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-attachment: fixed; }
  .index .container {
    text-align: center; }
    .index .container button {
      font-weight: 800;
      font-size: 3.75em;
      border-radius: 100px;
      border: none;
      width: 50%;
      padding: 2%;
      margin-top: 10%;
      background-color: #EBA4A9;
      color: #925126;
      letter-spacing: 5px; }
    .index .container .hero-image {
      position: fixed;
      bottom: 0;
      left: 15%; }

.categories .container {
  text-align: center;
  color: #925126;
  letter-spacing: 3px; }
  .categories .container .logo img {
    width: 249px;
    height: 190px; }
  .categories .container .text-area {
    padding-bottom: 5%; }
  .categories .container .catg .scoop {
    background-color: #F7A0A9; }
  .categories .container .catg .sundae {
    background-color: #E9AD43; }
  .categories .container .catg .pint {
    background-color: #E1BD98; }
  .categories .container .catg .milkshake {
    background-color: #F8B5B7; }
  .categories .container ul {
    display: flex;
    padding: 0; }
    .categories .container ul li {
      width: 450px;
      height: 250px;
      list-style: none;
      margin: 0 auto;
      border-radius: 50px;
      padding: 10% 0;
      margin-bottom: 8%; }
      .categories .container ul li img {
        width: auto;
        height: 200px; }

.size-page .container {
  background-color: #FDD6E0;
  text-align: center;
  color: #925126;
  letter-spacing: 5px; }
  .size-page .container .logo img {
    width: 249px;
    height: 190px; }
  .size-page .container .text-area {
    padding: 3.2% 0; }
  .size-page .container ul {
    display: flex;
    padding: 0; }
    .size-page .container ul li {
      width: 450px;
      height: 320px;
      list-style: none;
      background-color: #F7A0A9;
      border-radius: 50px;
      margin: 0 auto;
      padding-top: 3%;
      margin-bottom: 2.5%; }
      .size-page .container ul li img {
        width: auto;
        height: 200px; }
      .size-page .container ul li h5 {
        padding-top: 5%; }
  .size-page .container .base ul li {
    width: 350px;
    height: 245px;
    padding-top: 4%;
    margin-bottom: 1%; }
    .size-page .container .base ul li #Cup {
      width: 45%; }
    .size-page .container .base ul li img {
      width: auto;
      height: 150px; }
  .size-page .container button {
    font-weight: 500;
    font-size: 2.5em;
    border-radius: 100px;
    border: none;
    width: 35%;
    padding: 2%;
    margin: 4% 5%;
    background-color: #F7A0A9;
    color: #925126;
    letter-spacing: 5px; }

.flavours-page .container {
  text-align: center;
  color: #925126;
  letter-spacing: 3px; }
  .flavours-page .container .logo img {
    width: 249px;
    height: 190px; }
  .flavours-page .container .text-area {
    margin: 5% 0; }
  .flavours-page .container .flavours-section {
    margin-bottom: 22%; }
    .flavours-page .container .flavours-section #allTab:checked ~ nav label.all-tab,
    .flavours-page .container .flavours-section #favTab:checked ~ nav label.fav-tab,
    .flavours-page .container .flavours-section #veganTab:checked ~ nav label.vegan-tab {
      color: #925126;
      opacity: 100%;
      font-size: 24px; }
    .flavours-page .container .flavours-section #favTab:checked ~ nav .slider {
      left: 33.3%; }
    .flavours-page .container .flavours-section #veganTab:checked ~ nav .slider {
      left: 66.6%; }
    .flavours-page .container .flavours-section #allTab:checked ~ section .content-1,
    .flavours-page .container .flavours-section #favTab:checked ~ section .content-2,
    .flavours-page .container .flavours-section #veganTab:checked ~ section .content-3 {
      display: block; }
    .flavours-page .container .flavours-section .wrapper {
      max-width: 700px;
      margin: 100px auto;
      width: 100%;
      padding: 25px 30px 30px;
      border-radius: 5px;
      background: #fff; }
      .flavours-page .container .flavours-section .wrapper input[type="radio"] {
        display: none; }
      .flavours-page .container .flavours-section .wrapper nav {
        position: relative;
        width: 80%;
        height: 50px;
        display: flex;
        align-items: center; }
        .flavours-page .container .flavours-section .wrapper nav label {
          display: block;
          height: 100%;
          width: 100%;
          text-align: center;
          line-height: 50px;
          cursor: pointer;
          position: relative;
          z-index: 1;
          color: #925126;
          font-size: 17px;
          border-radius: 5px;
          margin: 0 5px;
          transition: all 0.6s ease;
          opacity: 20%;
          letter-spacing: normal; }
        .flavours-page .container .flavours-section .wrapper nav .slider {
          position: absolute;
          height: 100%;
          width: 33.3%;
          left: 0;
          bottom: 0;
          z-index: 0;
          border-radius: 50px;
          background: #E9AD43;
          transition: all 0.6s ease; }
      .flavours-page .container .flavours-section .wrapper section .content {
        display: none;
        background: #fff; }
      .flavours-page .container .flavours-section .wrapper section .content-1 table,
      .flavours-page .container .flavours-section .wrapper section .content-2 table,
      .flavours-page .container .flavours-section .wrapper section .content-3 table {
        margin-top: 5%; }
        .flavours-page .container .flavours-section .wrapper section .content-1 table tr td,
        .flavours-page .container .flavours-section .wrapper section .content-2 table tr td,
        .flavours-page .container .flavours-section .wrapper section .content-3 table tr td {
          margin: 2%;
          padding: 2%;
          text-align: center; }
          .flavours-page .container .flavours-section .wrapper section .content-1 table tr td p,
          .flavours-page .container .flavours-section .wrapper section .content-2 table tr td p,
          .flavours-page .container .flavours-section .wrapper section .content-3 table tr td p {
            letter-spacing: normal; }
          .flavours-page .container .flavours-section .wrapper section .content-1 table tr td img,
          .flavours-page .container .flavours-section .wrapper section .content-2 table tr td img,
          .flavours-page .container .flavours-section .wrapper section .content-3 table tr td img {
            width: 200px; }
    .flavours-page .container .flavours-section .buttons {
      background-color: white;
      width: 100%;
      position: fixed;
      bottom: 0; }
      .flavours-page .container .flavours-section .buttons button {
        font-weight: 500;
        font-size: 1.75em;
        border-radius: 100px;
        border: none;
        width: 35%;
        padding: 2%;
        margin: 4% 5%;
        background-color: #E9AD43;
        color: #925126; }

.cart-page {
  background-color: #FEF5D9;
  text-align: center;
  color: #925126;
  letter-spacing: 3px; }
  .cart-page .logo img {
    width: 249px;
    height: 190px; }
  .cart-page .text-area {
    margin: 5% 0;
    padding-bottom: 5%; }
  .cart-page .order-section table {
    align-items: center; }
    .cart-page .order-section table tr td {
      padding: 2%; }
      .cart-page .order-section table tr td h4,
      .cart-page .order-section table tr td h6 {
        padding: 2%;
        letter-spacing: 0.5px; }
      .cart-page .order-section table tr td button {
        font-weight: 500;
        font-size: 1.5em;
        border-radius: 100px;
        border: none;
        width: 70%;
        padding: 3%;
        margin: 4% 5%;
        border: 1px solid #925126;
        background: none;
        color: #925126;
        letter-spacing: 3px; }
      .cart-page .order-section table tr td img {
        width: 300px; }
      .cart-page .order-section table tr td ol li {
        text-align: left;
        letter-spacing: normal; }
  .cart-page .buttons {
    background-color: #FEF5D9;
    width: 100%;
    position: fixed;
    bottom: 0; }
    .cart-page .buttons button {
      font-weight: 500;
      font-size: 1.75em;
      border-radius: 100px;
      border: none;
      width: 35%;
      padding: 2%;
      margin: 4% 5%;
      background-color: #E9AD43;
      color: #925126; }

.payment-page {
  background-color: #E5CFE8;
  text-align: center;
  color: #925126;
  letter-spacing: 3px; }
  .payment-page .logo img {
    width: 249px;
    height: 190px; }
  .payment-page .text-area {
    margin: 5% 0;
    padding-bottom: 5%; }
  .payment-page .payment-options ul li {
    width: 40%;
    padding: 5%;
    margin: 5%;
    background-color: #DAA6E2;
    list-style: none;
    letter-spacing: 1px;
    border-radius: 100px; }
  .payment-page .buttons {
    background-color: #E5CFE8;
    width: 100%;
    position: fixed;
    bottom: 0; }
    .payment-page .buttons button {
      font-weight: 500;
      font-size: 1.75em;
      border-radius: 100px;
      border: none;
      width: 35%;
      padding: 2%;
      margin: 4% 5%;
      background-color: #DAA6E2;
      color: #925126; }

@media (max-width: 769.98px) {
  .container .logo img {
    width: 249px;
    height: 190px; }
  .container .start-button button {
    font-size: 2.5em; }

  .categories .container ul {
    display: block; }

  .size-page .container ul {
    display: block; }

  .flavours-page {
    font-size: 1.25em; } }

/*# sourceMappingURL=master.css.map */
