// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;800&display=swap');

// universal css
body {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.5s all ease;

  a {
    text-decoration: none;
    color: inherit;
  }

  // header set
  h1 {
    font-weight: 800;
    font-size: 3.75em;
    margin: 0;
  }

  h2 {
    font-weight: 800;
    font-size: 3.125em;
    margin: 0;
  }

  h3 {
    font-weight: 500;
    font-size: 3.125em;
    margin: 0;
  }

  h4 {
    font-weight: 500;
    font-size: 2.5em;
    margin: 0;
  }

  h5 {
    font-weight: 500;
    font-size: 2.25em;
    margin: 0;
  }

  h6 {
    font-weight: 500;
    font-size: 1.875em;
    margin: 0;
  }

  p {
    font-weight: 500;
    font-size: 1.25em;
    margin: 0;
  }
}

// custom css for index page
.index {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-attachment: fixed;

  .container {
    text-align: center;

    .logo {
      margin-top: 10%;
    }

    button {
      font-weight: 800;
      font-size: 3.75em;
      border-radius: 100px;
      border: none;
      width: 50%;
      padding: 2%;
      margin-top: 20%;
      background-color: #EBA4A9;
      color: #925126;
      letter-spacing: 5px;
    }

    .hero-image {
      position: fixed;
      bottom: 0;
      left: 15%;
    }
  }
}

// custom css for categories page
.categories {
  .container {
    text-align: center;
    color: #925126;
    letter-spacing: 3px;

    .logo {
      img {
        width: 249px;
        height: 190px;
      }
    }

    .text-area {
      padding-bottom: 5%;
    }

    .catg {
      .scoop {
        background-color: #F7A0A9;
      }

      .sundae {
        background-color: #E9AD43;
      }

      .pint {
        background-color: #E1BD98;
      }

      .milkshake {
        background-color: #F8B5B7;
      }
    }

    ul {
      display: flex;
      padding: 0;

      li {
        width: 450px;
        height: 250px;
        list-style: none;
        margin: 0 auto;
        border-radius: 50px;
        padding: 10% 0;
        margin-bottom: 8%;

        img {
          width: auto;
          height: 200px;
        }
      }
    }
  }
}

// custom css for size page
.size-page {
  background-color: #FDD6E0;

  .container {
    text-align: center;
    color: #925126;
    letter-spacing: 5px;
    margin-bottom: 20%;

    .logo {
      img {
        width: 249px;
        height: 190px;
      }
    }

    .text-area {
      padding: 3.2% 0;
    }

    // hide radio buttons
    input[type="radio"] {
      display: none;
    }

    // change label color when radio button checked
    #coneBase:checked ~ ul li label.cone-base,
    #cupBase:checked ~ ul li label.cup-base,
    #doubleSize:checked ~ nav ul li label.double-size,
    #singleSize:checked ~ nav ul li label.single-size,
    #tiddlerSize:checked ~ nav ul li label.tiddler-size,
    #tripleSize:checked ~ nav ul li label.triple-size {
      background-color: #F7A0A9;
    }

    ul {
      display: flex;
      padding: 0;

      li {
        width: 350px;
        height: 300px;
        list-style: none;
        border: 1px solid #F7A0A9;
        border-radius: 50px;
        margin: 0 auto 2.5%;

        label {
          display: block;
          height: 302px;
          width: 352px;
          color: #925126;
          border-radius: 50px;
          transition: all 0.6s ease;
        }

        img {
          padding-top: 10%;
          width: auto;
          height: 150px;
        }

        h5 {
          padding: 4% 0;
        }

        p {
          letter-spacing: 1px;
        }
      }
    }

    .base {
      ul {
        li {
          width: 350px;
          height: 300px;
          margin-bottom: 1%;

          label {
            display: block;
            height: 302px;
            width: 352px;
            color: #925126;
            border-radius: 50px;
            transition: all 0.6s ease;

            img {
              width: auto;
              height: 150px;
              padding-top: 15%;
            }
          }

          #Cup {
            width: 45%;
          }
        }
      }
    }

    .buttons {
      background-color: #FDD6E0;
      width: 100%;
      position: fixed;
      bottom: 0;

      button {
        font-weight: 500;
        font-size: 1.75em;
        border-radius: 100px;
        border: none;
        width: 35%;
        padding: 2%;
        margin: 4% 5%;
        background-color: #F7A0A9;
        color: #925126;
      }
    }
  }
}

// custom css for flavours page
.flavours-page {
  .container {
    text-align: center;
    color: #925126;
    letter-spacing: 3px;

    .logo {
      img {
        width: 249px;
        height: 190px;
      }
    }

    .text-area {
      margin: 5% 0;
    }

    .flavours-section {
      margin-bottom: 22%;

      // change label's opacity, font size and color when radio buttons checked
      #allTab:checked ~ nav label.all-tab,
      #favTab:checked ~ nav label.fav-tab,
      #veganTab:checked ~ nav label.vegan-tab {
        color: #925126;
        opacity: 100%;
        font-size: 24px;
      }

      // move slider on favourites tab when #favTab checked
      #favTab:checked ~ nav .slider {
        left: 33.3%;
      }

      // move slider on vegan tab when #veganTab checked
      #veganTab:checked ~ nav .slider {
        left: 66.6%;
      }

      // display the respective tabs content when they are checked
      #allTab:checked ~ section .content-1,
      #favTab:checked ~ section .content-2,
      #veganTab:checked ~ section .content-3 {
        display: block;
      }

      .wrapper {
        max-width: 700px;
        margin: 100px auto;
        width: 100%;
        padding: 25px 30px 30px;
        border-radius: 5px;
        background: #fff;

        // hide radio buttons
        input[type="radio"] {
          display: none;
        }

        nav {
          position: relative;
          width: 80%;
          height: 50px;
          display: flex;
          align-items: center;

          label {
            display: block;
            height: 100%;
            width: 100%;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            color: #925126;
            font-size: 17px;
            border-radius: 5px;
            margin: 0 5px;
            transition: all 0.6s ease;
            // default opacity of all labels set to 20%
            opacity: 20%;
            letter-spacing: normal;
          }

          .slider {
            position: absolute;
            height: 100%;
            width: 33.3%;
            left: 0;
            bottom: 0;
            z-index: 0;
            border-radius: 50px;
            background: #E9AD43;
            transition: all 0.6s ease;
          }
        }

        // defalut hide contents
        section {
          .content {
            display: none;
            background: #fff;
          }

          .content-1,
          .content-2,
          .content-3 {
            table {
              margin-top: 5%;

              tr {
                td {
                  margin: 2%;
                  padding: 2%;
                  text-align: center;

                  p {
                    letter-spacing: normal;
                  }

                  img {
                    width: 200px;
                  }
                }
              }
            }
          }
        }
      }

      .buttons {
        background-color: white;
        width: 100%;
        position: fixed;
        bottom: 0;

        button {
          font-weight: 500;
          font-size: 1.75em;
          border-radius: 100px;
          border: none;
          width: 35%;
          padding: 2%;
          margin: 4% 5%;
          background-color: #E9AD43;
          color: #925126;
        }
      }
    }
  }
}

// custom css for cart page
.cart-page {
  background-color: #FEF5D9;
  text-align: center;
  color: #925126;
  letter-spacing: 3px;

  .container {
    margin-bottom: 20%;
    .logo {
      img {
        width: 249px;
        height: 190px;
      }
    }

    .text-area {
      margin: 5% 0;
      padding-bottom: 5%;
    }

    .order-section {
      table {
        align-items: center;

        tr {
          td {
            padding: 2%;

            h4,
            h6 {
              padding: 2%;
              letter-spacing: 0.5px;
            }

            button {
              font-weight: 500;
              font-size: 1.5em;
              border-radius: 100px;
              border: none;
              width: 70%;
              padding: 3%;
              margin: 4% 5%;
              border: 1px solid #925126;
              background: none;
              color: #925126;
              letter-spacing: 3px;
            }

            img {
              width: 300px;
            }

            ol {
              li {
                text-align: left;
                letter-spacing: normal;
              }
            }
          }
        }
      }
    }

    .buttons {
      background-color: #FEF5D9;
      width: 100%;
      position: fixed;
      bottom: 0;

      button {
        font-weight: 500;
        font-size: 1.75em;
        border-radius: 100px;
        border: none;
        width: 35%;
        padding: 2%;
        margin: 4% 5%;
        background-color: #E9AD43;
        color: #925126;
      }
    }
  }
}

// custom css for payment pages
.payment-page {
  background-color: #E5CFE8;
  text-align: center;
  color: #925126;
  letter-spacing: 3px;

  .container {
    margin-bottom: 20%;
    .logo {
      img {
        width: 249px;
        height: 190px;
      }
    }

    .text-area {
      margin: 5% 0;
      padding-bottom: 5%;
    }

    .payment-options {
      ul {
        padding-left: 23%;

        li {
          width: 50%;
          padding: 5%;
          margin: 5%;
          background-color: #DAA6E2;
          list-style: none;
          letter-spacing: 1px;
          border-radius: 50px;

          img {
            width: 70%;
            padding-top: 5%;
          }

          h5 {
            margin-top: 2%;
          }

          h1 {
            font-size: 100px;
            letter-spacing: normal;
          }
        }
      }
    }

    .buttons {
      background-color: #E5CFE8;
      width: 100%;
      position: fixed;
      bottom: 0;

      button {
        font-weight: 500;
        font-size: 1.75em;
        border-radius: 100px;
        border: none;
        width: 35%;
        padding: 2%;
        margin: 4% 5%;
        background-color: #DAA6E2;
        color: #925126;
      }
    }
  }
}
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}
// Small devices (landscape phones, less than 768px)
@media (max-width: 769.98px) {
  .index {
    .container {
      .logo {
        img {
          width: 249px;
          height: 190px;
        }
      }

      .start-button {
        button {
          margin-top: 10%;
          font-size: 2.5em;
        }
      }
    }
  }

  .categories {

    .container {
      h1 {
        font-size: 2.5em;
      }
      ul {
        display: block;
      }
    }
  }

  .size-page {
    .container {
      h1 {
        font-size: 2.5em;
      }
      ul {
        display: block;
      }
    }
  }

  .flavours-page {
    .container {
      h1 {
        font-size: 2.5em;
      }
    }
  }

  .cart-page,
  .payment-page,
  .card,
  .cash {
    h1 {
      font-size: 2.5em;
    }
  }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}
